<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js" defer></script>
    <title>Erreur serveur</title>
</head>
<body>

<!-- Header navigation -->

<div class="offset-5" style="color: red; margin-top:10%">
    <h1>500 - Erreur interne du serveur</h1>
    <p> Oups, une erreur s’est produite. Merci de vous reconnecter</p>
    <form th:action="@{/logout}" method="post">
        <input type="submit" class="btn btn-light" value="Reconnectez vous">
    </form>
</div>




</body>
</html>