
<!-- Header navigation -->
<div class="container">
    <div class="row">
        <div class="col-1" style="width: auto">
            <ul class="nav justify-content-start">
                <li class="nav-item">
                    <a class="nav-link" href="#">Pay My Buddy</a>
                </li>
            </ul>
        </div>
        <div class="col-10">
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Transférer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Ajouter relation</a>
                </li>
                <!-- ajouter une condition -->
                <li class="nav-item">
                    <a class="nav-link" href="#">Se deconnecter</a>
                </li>
            </ul>
        </div>
    </div>
</div>