<div class="container">
    <div class="row">
        <div class="col-1" style="width: auto">
            <ul class="nav justify-content-start">
                <li class="nav-item">
                    <a class="nav-link" href="#">Pay My Buddy</a>
                </li>
            </ul>
        </div>
        <div class="col-10">
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/transaction}" >Transférer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/profile}" >Profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/relation}" >Ajouter relation</a>
                </li>
                <!-- ajouter une condition -->
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}">Se deconnecter</a>
                </li>
            </ul>
        </div>
    </div>
</div>