<div class="container" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="row mt-2">
        <div class="col-1" style="width: auto">
            <ul class="nav justify-content-start">
                <li class="nav-item">
                    <a class="nav-link" href="#">Pay My Buddy</a>
                </li>
            </ul>
        </div>
        <div class="col-10">
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/transaction}" >Transférer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/profile}" >Profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/relation}" >Ajouter relation</a>
                </li>
                <!-- ajouter une condition -->
                <li class="nav-item">
                    <form th:action="@{/logout}" method="post">
                        <input type="submit" class="btn btn-light" value="Se deconnecter">
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>