<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js" defer></script>
    <title>Sign In</title>
</head>
<body>

<!-- Authentification -->
<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="row w-100 ">
        <div class="col-md-4 text-center">
            <!-- Boutons OAuth -->
            <a th:href="@{/oauth2/authorization/github}" class="btn btn-lg mb-3 w-100">
                <i class="bi bi-github"></i> Connexion avec GitHub
            </a>
        </div>
        <div class="col-md-8">
            <!-- Formulaire -->
            <form th:action="@{/j_spring_security_check}" method="post" style="width: 400px">

                    <div class="row" style="margin-bottom: 5%">
                        <button type="submit" class="btn btn-lg btn-warning" style="color: white" disabled>Pay My Buddy</button>
                    </div>
                    <div class="row">
                        <div class="input mb-3">
                            <input class="form-control"
                                   type="text"
                                   value="email"
                                   aria-label="readonly input example"
                                   name="email">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input mb-3">
                            <input class="form-control"
                                   type="password"
                                   value="password"
                                   aria-label="readonly input example"
                                   name="password">
                        </div>
                    </div>
                    <div class="row">
                        <button type="submit" class="btn btn-lg btn-primary" style="color: white">se connecter</button>
                    </div>
                    <div class="row">
                        <p th:if="${error}" th:text="${error}" style="color: red;"></p>
                    </div>

            </form>
        </div>
    </div>
</div>





<!-- Formulaire -->
<div class="container" style="margin-top: 7%">
    <div class="row">
        <div class="col-2">
            <a th:href="@{/oauth2/authorization/apple}">
                Se connecter avec GitHub
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
                </svg>
            </a>
        </div>
        <div class="col">
            <form class="offset-4" th:action="@{/j_spring_security_check}" method="post" style="width: 400px">
                <div class="row justify-content-center" style="border: 1px solid black; padding: 3%" readonly>
                    <div class="row" style="margin-bottom: 5%">
                        <button type="submit" class="btn btn-lg btn-warning" style="color: white" disabled>Pay My Buddy</button>
                    </div>
                    <div class="row">
                        <div class="input mb-3">
                            <input class="form-control"
                                   type="text"
                                   value="email"
                                   aria-label="readonly input example"
                                   name="email">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input mb-3">
                            <input class="form-control"
                                   type="password"
                                   value="password"
                                   aria-label="readonly input example"
                                   name="password">
                        </div>
                    </div>
                    <div class="row">
                        <button type="submit" class="btn btn-lg btn-primary" style="color: white">se connecter</button>
                    </div>
                    <div class="row">
                        <p th:if="${error}" th:text="${error}" style="color: red;"></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>