<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js" defer></script>
    <title>Profile</title>
</head>
<body>

<!-- Header navigation -->
<th:block th:insert="~{/_menu}"></th:block>

<div class="container" style="margin-top: 15%">
    <div class="divCentre"  style="justify-self: center; width: 600px">
        <form th:action="@{/updateprofile}" method="post" th:object="${profileForm}">
            <div class="row mb-3">
                <div class="col text-end" style="width: auto">Username</div>
                <div class="col" style="width: auto">
                    <input class="form-control"
                           id="firstname"
                           type="text"
                           aria-label="readonly input example"
                           th:field="*{username}">
                </div>
                <div class="col"></div>
            </div>
            <div class="row mb-3">
                <div class="col text-end" style="width: auto">Mail</div>
                <div class="col" style="width: auto">
                    <input class="form-control"
                           type="email"
                           aria-label="readonly input example"
                           th:placeholder="${user.email}"
                           name="email"
                           th:field="*{email}">
                </div>
                <div class="col"></div>
            </div>
            <div class="row" >
                <div class="col text-end" style="width: auto">Mot de passe</div>
                <div class="col" style="width: auto">
                    <input class="form-control"
                           type="password"
                           aria-label="readonly input example"
                           name="password"
                           th:field="*{password}">
                </div>
                <div class="col">
                    <button class="btn btn-warning" style="color: white" type="submit">Modifier</button>
                </div>
            </div>
            <div class="row" th:classappend="text-danger">
                <div class="col-4">
                    <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
                    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                </div>
            </div>
            <div th:if="${errorMessage}" th:text="${errorMessage}" class="text-danger"></div>
        </form>
        <!-- Message de confirmation update -->
        <div id="success-message" class="alert alert-success text-center" role="alert"
             th:if="${successMessage}" th:text="${successMessage}">
        </div>
        <script>
            setTimeout(() => {
                const alert = document.getElementById('success-message');
                if (alert) {
                    alert.style.display = 'none';
                }
            }, 3000); // 3 secondes
        </script>
    </div>
</div>

</body>
</html>