<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/bootstrap.in.css}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>

<!-- Header navigation -->
<th:block th:insert="~{/_menu}"></th:block>

<!-- titre page -->
<h1 class="offset-5">Page Transfert ! </h1>


<!-- Formulaire -->
<div class="container" style="margin-top: 7%">

    <form th:action="@{/transaction}" th:object="${transactionForm}" method="post">
        <div class="row">
            <div class="col-3">
                <div class="input mb-3">
                    <select class="form-select" id="inputGroupSelect" th:field="*{email}">
                        <option selected value="Sélectionner une relation" disabled>Sélectionner une relation</option>
                        <option th:each="email : ${emails}"
                                th:value="${email}"
                                th:text="${email}">
                        </option>
                    </select>
                    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Nom invalide</p>
                </div>
            </div>
            <div class="col-3">
                <div class="input mb-3">
                    <input class="form-control"
                           type="text"
                           value="Description"
                           th:field="*{description}"
                           aria-label="readonly input example" >
                    <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Nom invalide</p>
                </div>
            </div>
            <div class="col-3">
                <div class="input-group mb-3">
                    <input class="form-control form-control-lg"
                           type="number"
                           th:field="*{amount}"
                           min="0" max="1000" step="0"
                           aria-label="readonly input example">
                    <span class="input-group-text">$</span>
                    <p th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}">Nom invalide</p>
                </div>
            </div>
            <div class="col-3">
                <button type="submit" class="btn btn-primary">Payer</button>
            </div>
        </div>
    </form>

    <!-- List of transaction -->
    <div class="row" style="margin-top: 10%">
        <table class="table table-hover caption-top">
            <caption>
                Mes transactions
                <span th:text="${transactions.size()}"></span>
            </caption>
            <thead>
            <tr>
                <th scope="col" class="text-start">Relations</th>
                <th scope="col">Description</th>
                <th scope="col" class="text-end">Montant</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="transaction : ${transactions}">
                <td th:text="${transaction.username}"></td>
                <td th:text="${transaction.description}"></td>
                <td class="text-end"
                    th:classappend="${transaction.amount > 0} ? 'text-success' : 'text-danger'"
                    th:text="${transaction.amount}"
                ></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
        crossorigin="anonymous"></script>
</body>
</html>